body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Neucha", serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.orange {
  color: #fe8a02;
}

header,
footer {
  width: 1110px;
  margin: 0 auto;
}

header {
  padding: 50px 0 100px 0;
  position: relative;
  z-index: 0;
}

section {
  width: 1110px;
  margin: 100px auto;
}

.bg-container::before {
  content: "";
  height: 914px;
  width: 1440px;
  position: absolute;
  z-index: -2;
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.bg-container {
  position: relative;
  background-color: #f5f4f0;
  z-index: -3;
}

.bg-container-brown::before {
  content: "";
  height: 950px;
  width: 1440px;
  position: absolute;
  z-index: -2;
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.bg-container-brown {
  background-color: #b09a81;
  z-index: -3;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
}

header .header-present {
  display: flex;
  flex-direction: row;
  position: relative;
}

header .header-present img {
  position: absolute;
  height: 525px;
  right: -270px;
  z-index: 1;
}

header .header-present h1 {
  width: 100%;
}

header .text {
  display: flex;
  flex-direction: row;
  margin-top: 125px;
}

header .text div {
  display: flex;
  width: 540px;
}

header .text .two-p {
  display: flex;
  flex-direction: column;
}

header .text .mr-30 {
  margin-right: 30px;
}

header a {
  text-decoration: none;
  color: #f5f4f0;
  height: 49px;
  min-width: 148px;
  max-width: 148px;
  font-weight: bold;
  background-color: #fe8a02;
  text-align: center;
  align-content: center;
  margin-top: 24px;
}

.bg-white {
  background-color: #fff;
}

#preview-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}

#preview-image h2 {
  margin-bottom: 30px;
  margin-top: 100px;
}

#preview-image p {
  margin-top: -27px;
  margin-bottom: -170px;
}

#preview-image a {
  position: relative;
  bottom: -200px;
}

#preview-image img {
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bg-dark {
  position: relative;
  z-index: -1;
  padding-top: 100px;
  background-color: #42413c;
}

#navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}

#navigation .navigation-item {
  display: flex;
  flex-direction: column;
  background-color: #f5f4f0;
  padding: 24px;
  min-height: 299px;
  max-height: 348px;
}

#navigation .navigation-item.h3 {
  background: none;
  color: #fff;
  padding: 0;
  margin: 0;
}

#navigation .navigation-item.h3 span {
  white-space: nowrap;
}

#navigation .navigation-item.h3 h3 {
  font-size: 52px;
  line-height: 1;
  margin: 0;
}

#navigation .navigation-item span {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha", serif;
  line-height: 1;
}

#navigation .navigation-item h4 {
  font-size: 34px;
  margin-bottom: 16px;
  margin-top: 0;
}

#navigation .navigation-item p {
  margin: 0;
  max-height: 104px;
}

#ikea-effect,
#premature-optimization,
#distortion-of-novelty,
#hyperbolic-depreciation,
#errors-in-planning {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  margin-bottom: 0;
}

#ikea-effect .present,
#premature-optimization .present,
#distortion-of-novelty .present,
#hyperbolic-depreciation .present,
#errors-in-planning .present {
  display: flex;
  flex-direction: row;
}

#ikea-effect .present img,
#premature-optimization .present img,
#distortion-of-novelty .present img,
#hyperbolic-depreciation .present img,
#errors-in-planning .present img {
  margin-right: 30px;
}

#ikea-effect .present .texture-text-opacity,
#premature-optimization .present .texture-text-opacity,
#distortion-of-novelty .present .texture-text-opacity,
#hyperbolic-depreciation .present .texture-text-opacity,
#errors-in-planning .present .texture-text-opacity {
  font-family: "Neucha", serif;
  font-size: 24px;
}

#ikea-effect .present h2,
#premature-optimization .present h2,
#distortion-of-novelty .present h2,
#hyperbolic-depreciation .present h2,
#errors-in-planning .present h2 {
  margin: 0 0 30px 0;
}

#ikea-effect .present p,
#premature-optimization .present p,
#distortion-of-novelty .present p,
#hyperbolic-depreciation .present p,
#errors-in-planning .present p {
  font-family: "Neucha", serif;
  font-size: 34px;
  line-height: 40.8px;
}

#ikea-effect .present-container-text,
#premature-optimization .present-container-text,
#distortion-of-novelty .present-container-text,
#hyperbolic-depreciation .present-container-text,
#errors-in-planning .present-container-text {
  display: flex;
  flex-direction: column;
}

#ikea-effect .present-container-text h5,
#premature-optimization .present-container-text h5,
#distortion-of-novelty .present-container-text h5,
#hyperbolic-depreciation .present-container-text h5,
#errors-in-planning .present-container-text h5 {
  margin: 100px 0 20px 0;
  width: 1100px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  padding: 5px 0 5px 10px;
}

#ikea-effect .present-container-text .present-text,
#premature-optimization .present-container-text .present-text,
#distortion-of-novelty .present-container-text .present-text,
#hyperbolic-depreciation .present-container-text .present-text,
#errors-in-planning .present-container-text .present-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#ikea-effect .present-container-text .present-text .mr-30,
#premature-optimization .present-container-text .present-text .mr-30,
#distortion-of-novelty .present-container-text .present-text .mr-30,
#hyperbolic-depreciation .present-container-text .present-text .mr-30,
#errors-in-planning .present-container-text .present-text .mr-30 {
  margin-right: 30px;
}

#ikea-effect .present-container-text .present-text p,
#premature-optimization .present-container-text .present-text p,
#distortion-of-novelty .present-container-text .present-text p,
#hyperbolic-depreciation .present-container-text .present-text p,
#errors-in-planning .present-container-text .present-text p {
  margin: 0;
}

#ikea-effect,
#distortion-of-novelty,
#errors-in-planning {
  color: #2a2626;
}

#ikea-effect .present,
#distortion-of-novelty .present,
#errors-in-planning .present {
  flex-direction: row;
}

#ikea-effect .present .texture-text-opacity,
#distortion-of-novelty .present .texture-text-opacity,
#errors-in-planning .present .texture-text-opacity {
  color: #908d8b;
}

#ikea-effect .present h2,
#distortion-of-novelty .present h2,
#errors-in-planning .present h2 {
  color: #2a2626;
}

#ikea-effect .present-container-text h5,
#distortion-of-novelty .present-container-text h5,
#errors-in-planning .present-container-text h5 {
  color: #fff;
  background-color: #b09a81;
}

#premature-optimization,
#hyperbolic-depreciation {
  color: #fff;
}

#premature-optimization .present,
#hyperbolic-depreciation .present {
  flex-direction: row-reverse;
}

#premature-optimization .present .texture-text-opacity,
#hyperbolic-depreciation .present .texture-text-opacity {
  color: #d7ccc0;
}

#premature-optimization .present h2,
#hyperbolic-depreciation .present h2 {
  color: #fff;
}

#premature-optimization .present-container-text h5,
#hyperbolic-depreciation .present-container-text h5 {
  color: #b09a81;
  background-color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 581px;
  margin: 0 auto;
}

footer .container {
  background-color: #42413c;
  color: #fff;
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .container h3 {
  padding: 55px;
}

footer .container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 55px;
}

footer .container form div {
  width: 415px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

footer .container form .font {
  font-size: 18px;
}

footer .container form input {
  height: 50px;
  width: 100%;
  padding-left: 15px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  border: none;
}

footer .container form button {
  position: relative;
  min-height: 50px;
  min-width: 70px;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: #fe8a02;
}

footer .container form button::before {
  content: url(/src/images/send.svg);
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
}

footer .container form .accept {
  font-size: 12px;
}

footer .author {
  margin-top: 76px;
  margin-bottom: 16px;
}

footer p {
  margin-top: 0;
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */