body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2a2626;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Neucha", serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.orange {
  color: #fe8a02;
}

header,
footer,
section {
  width: 1110px;
  margin: 100px auto;
}

.bg-container::before {
  content: "";
  height: 914px;
  width: 1440px;
  position: absolute;
  z-index: -2;
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.bg-container {
  background-color: #f5f4f0;
  z-index: -3;
}

.bg-container-brown::before {
  content: "";
  height: 950px;
  width: 1440px;
  position: absolute;
  z-index: -2;
  background-image: url(/src/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;
}

.bg-container-brown {
  background-color: #b09a81;
  z-index: -3;
}

header {
  display: flex;
  flex-direction: column;
  position: relative;
}
header .header-present {
  display: flex;
  flex-direction: row;
  position: relative;
}
header .header-present img {
  position: absolute;
  height: 525px;
  right: -270px;
  z-index: -1;
}
header .header-present h1 {
  width: 100%;
}
header .text {
  display: flex;
  flex-direction: row;
  margin-top: 125px;
}
header .text div {
  display: flex;
  width: 540px;
}
header .text .two-p {
  display: flex;
  flex-direction: column;
}
header .text .mr-30 {
  margin-right: 30px;
}
header a {
  text-decoration: none;
  color: #f5f4f0;
  height: 49px;
  min-width: 148px;
  max-width: 148px;
  font-weight: bold;
  background-color: #fe8a02;
  text-align: center;
  align-content: center;
  margin-top: 24px;
}

.bg-white {
  background-color: #fff;
}

.preview-image {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0;
}
.preview-image h2 {
  margin-bottom: 30px;
}
.preview-image p {
  margin-top: -27px;
  margin-bottom: -170px;
}
.preview-image a {
  position: relative;
  bottom: -200px;
}
.preview-image img {
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.bg-dark {
  position: relative;
  z-index: -1;
  padding-top: 100px;
  background-color: #42413c;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 30px;
}
.navigation .navigation-item {
  display: flex;
  flex-direction: column;
  background-color: #f5f4f0;
  padding: 24px;
  min-height: 299px;
  max-height: 348px;
}
.navigation .navigation-item.h3 {
  background: none;
  color: #fff;
  padding: 0;
  margin: 0;
}
.navigation .navigation-item.h3 span {
  white-space: nowrap;
}
.navigation .navigation-item.h3 h3 {
  font-size: 52px;
  line-height: 1;
  margin: 0;
}
.navigation .navigation-item span {
  margin-bottom: 40px;
  font-size: 64px;
  font-family: "Neucha", serif;
  line-height: 1;
}
.navigation .navigation-item h4 {
  font-size: 34px;
  margin-bottom: 16px;
  margin-top: 0;
}
.navigation .navigation-item p {
  margin: 0;
  max-height: 104px;
}

.ikea-effect {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  margin-bottom: 0;
}
.ikea-effect .present {
  display: flex;
  flex-direction: row;
}
.ikea-effect .present img {
  margin-right: 30px;
}
.ikea-effect .present .texture-text-opacity {
  color: #908d8b;
  font-family: "Neucha", serif;
  font-size: 24px;
}
.ikea-effect .present h2 {
  margin: 0 0 30px 0;
}
.ikea-effect .present p {
  font-family: "Neucha", serif;
  font-size: 34px;
  line-height: 40.8px;
}
.ikea-effect .present-container-text {
  display: flex;
  flex-direction: column;
}
.ikea-effect .present-container-text h5 {
  margin: 100px 0 20px 0;
  width: 1100px;
  color: #fff;
  font-family: "Open Sans", serif;
  font-weight: bold;
  background-color: #b09a81;
  padding: 5px 0 5px 10px;
}
.ikea-effect .present-container-text .present-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ikea-effect .present-container-text .present-text .mr-30 {
  margin-right: 30px;
}
.ikea-effect .present-container-text .present-text p {
  margin: 0;
}

.premature-optimization {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  color: #fff;
  margin-bottom: 0;
}
.premature-optimization .present {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
}
.premature-optimization .present img {
  margin-right: 30px;
}
.premature-optimization .present .texture-text-opacity {
  color: #d7ccc0;
  font-family: "Neucha", serif;
  font-size: 24px;
}
.premature-optimization .present h2 {
  margin: 0 0 30px 0;
  color: #fff;
}
.premature-optimization .present p {
  font-family: "Neucha", serif;
  font-size: 34px;
  line-height: 40.8px;
}
.premature-optimization .present-container-text {
  display: flex;
  flex-direction: column;
}
.premature-optimization .present-container-text h5 {
  margin: 100px 0 20px 0;
  width: 1100px;
  color: #b09a81;
  font-family: "Open Sans", serif;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 0 5px 10px;
}
.premature-optimization .present-container-text .present-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.premature-optimization .present-container-text .present-text .mr-30 {
  margin-right: 30px;
}
.premature-optimization .present-container-text .present-text p {
  margin: 0;
}

.distortion-of-novelty {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  color: #2a2626;
  margin-bottom: 0;
}
.distortion-of-novelty .present {
  display: flex;
  flex-direction: row;
  flex-direction: row;
}
.distortion-of-novelty .present img {
  margin-right: 30px;
}
.distortion-of-novelty .present .texture-text-opacity {
  color: #908d8b;
  font-family: "Neucha", serif;
  font-size: 24px;
}
.distortion-of-novelty .present h2 {
  margin: 0 0 30px 0;
  color: #2a2626;
}
.distortion-of-novelty .present p {
  font-family: "Neucha", serif;
  font-size: 34px;
  line-height: 40.8px;
}
.distortion-of-novelty .present-container-text {
  display: flex;
  flex-direction: column;
}
.distortion-of-novelty .present-container-text h5 {
  margin: 100px 0 20px 0;
  width: 1100px;
  color: #fff;
  font-family: "Open Sans", serif;
  font-weight: bold;
  background-color: #b09a81;
  padding: 5px 0 5px 10px;
}
.distortion-of-novelty .present-container-text .present-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.distortion-of-novelty .present-container-text .present-text .mr-30 {
  margin-right: 30px;
}
.distortion-of-novelty .present-container-text .present-text p {
  margin: 0;
}

.hyperbolic-depreciation {
  display: flex;
  flex-direction: column;
  padding: 0 0 100px;
  color: #fff;
  margin-bottom: 0;
}
.hyperbolic-depreciation .present {
  display: flex;
  flex-direction: row;
  flex-direction: row-reverse;
}
.hyperbolic-depreciation .present img {
  margin-right: 30px;
}
.hyperbolic-depreciation .present .texture-text-opacity {
  color: #d7ccc0;
  font-family: "Neucha", serif;
  font-size: 24px;
}
.hyperbolic-depreciation .present h2 {
  margin: 0 0 30px 0;
  color: #fff;
}
.hyperbolic-depreciation .present p {
  font-family: "Neucha", serif;
  font-size: 34px;
  line-height: 40.8px;
}
.hyperbolic-depreciation .present-container-text {
  display: flex;
  flex-direction: column;
}
.hyperbolic-depreciation .present-container-text h5 {
  margin: 100px 0 20px 0;
  width: 1100px;
  color: #b09a81;
  font-family: "Open Sans", serif;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 0 5px 10px;
}
.hyperbolic-depreciation .present-container-text .present-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hyperbolic-depreciation .present-container-text .present-text .mr-30 {
  margin-right: 30px;
}
.hyperbolic-depreciation .present-container-text .present-text p {
  margin: 0;
}/*# sourceMappingURL=input.css.map */