$white: #ccc;
$opacity-white: #d7ccc0;
$light: #f5f4f0;
$main: #fe8a02;
$dark-main: #42413c;
$dark: #2a2626;
$opacity-dark: #908d8b;
$brown: #b09a81;
$blue: #1085c5;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin mr-30 {
    margin-right: 30px;
}

body {
    font-family: "Open Sans", serif;
    font-size: 16px;
    line-height: 1.6em;
    color: $dark;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

main {
    @include flex-column();
}

img {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Neucha", serif;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.orange {
    color: $main;
}

header,
footer {
    width: 1110px;
    margin: 0 auto;
}

header {
    padding: 50px 0 100px 0;
    position: relative;
    z-index: 0;
}

section {
    width: 1110px;
    margin: 100px auto;
}

.bg-container::before {
    content: '';
    height: 914px;
    width: 1440px;
    position: absolute;
    z-index: -2;
    background-image: url(/src/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
}

.bg-container {
    position: relative;
    background-color: $light;
    z-index: -3;
}

.bg-container-brown::before {
    content: '';
    height: 950px;
    width: 1440px;
    position: absolute;
    z-index: -2;
    background-image: url(/src/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
}

.bg-container-brown {
    background-color: $brown;
    z-index: -3;
}

header {
    @include flex-column();
    position: relative;

    .header-present {
        @include flex-row();

        position: relative;

        img {
            position: absolute;
            height: 525px;
            right: -270px;
            z-index: 1;
        }

        h1 {
            width: 100%;
        }
    }

    .text {
        @include flex-row();
        margin-top: 125px;

        div {
            display: flex;
            width: 540px;
        }

        .two-p {
            @include flex-column();
        }

        .mr-30 {
            @include mr-30();
        }
    }

    a {
        text-decoration: none;
        color: $light;
        height: 49px;
        min-width: 148px;
        max-width: 148px;
        font-weight: bold;
        background-color: $main;
        text-align: center;
        align-content: center;
        margin-top: 24px;
    }
}

.bg-white {
    background-color: #fff;
}

.preview-image {
    @include flex-column();
    text-align: center;
    margin-top: 0;

    h2 {
        margin-bottom: 30px;
        margin-top: 100px;
    }

    p {
        margin-top: -27px;
        margin-bottom: -170px;
    }

    a {
        position: relative;
        bottom: -200px;
    }

    img {
        width: 919px;
        height: 517px;
        filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    }
}

.bg-dark {
    position: relative;
    z-index: -1;
    padding-top: 100px;
    background-color: $dark-main;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 30px;

    .navigation-item {
        @include flex-column();
        background-color: $light;
        padding: 24px;
        min-height: 299px;
        max-height: 348px;

        &.h3 {
            background: none;
            color: #fff;
            padding: 0;
            margin: 0;

            span {
                white-space: nowrap;
            }

            h3 {
                font-size: 52px;
                line-height: 1;

                margin: 0;
            }
        }

        span {
            margin-bottom: 40px;
            font-size: 64px;
            font-family: 'Neucha', serif;
            line-height: 1;
        }

        h4 {
            font-size: 34px;
            margin-bottom: 16px;
            margin-top: 0;
        }

        p {
            margin: 0;
            max-height: 104px;
        }
    }
}

.ikea-effect,
.premature-optimization,
.distortion-of-novelty,
.hyperbolic-depreciation,
.errors-in-planning {
    @include flex-column();
    padding: 0 0 100px;
    margin-bottom: 0;

    .present {
        @include flex-row();

        img {
            margin-right: 30px;
        }

        .texture-text-opacity {
            // color: $opacity-dark;
            font-family: 'Neucha', serif;
            font-size: 24px;
        }

        h2 {
            margin: 0 0 30px 0;
        }

        p {
            font-family: 'Neucha', serif;
            font-size: 34px;
            line-height: 40.8px;
        }
    }

    .present-container-text {
        @include flex-column();

        h5 {
            margin: 100px 0 20px 0;
            width: 1100px;
            // color: #fff;
            font-family: 'Open Sans', serif;
            font-weight: bold;
            // background-color: $brown;
            padding: 5px 0 5px 10px;
        }

        .present-text {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .mr-30 {
                margin-right: 30px;
            }

            p {
                margin: 0;
            }
        }
    }
}

.ikea-effect,
.distortion-of-novelty,
.errors-in-planning {
    color: $dark;

    .present {
        flex-direction: row;

        .texture-text-opacity {
            color: $opacity-dark;
        }

        h2 {
            color: $dark;
        }
    }

    .present-container-text {
        h5 {
            color: #fff;
            background-color: $brown
        }
    }
}

.premature-optimization,
.hyperbolic-depreciation {
    color: #fff;

    .present {
        flex-direction: row-reverse;

        .texture-text-opacity {
            color: $opacity-white;
        }

        h2 {
            color: #fff;
        }
    }

    .present-container-text {
        h5 {
            color: $brown;
            background-color: #fff;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 581px;
    margin: 0 auto;

    .container {
        background-color: $dark-main;
        color: #fff;
        width: 100%;
        height: 190px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        h3 {
            padding: 55px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 55px;

            div {
                width: 415px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-top: 15px;
            }

            .font {
                font-size: 18px;
            }

            input {
                height: 50px;
                width: 100%;
                padding-left: 15px;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: 0;
                border: none;
            }

            button {
                position: relative;
                min-height: 50px;
                min-width: 70px;
                border: none;
                margin: 0;
                padding: 0;
                border-radius: 0;
                background-color: $main;
            }

            button::before {
                content: url(/src/images/send.svg);
                position: absolute;
                transform: translateY(-50%) translateX(-50%);
            }

            .accept {
                font-size: 12px;
            }
        }
    }

    .author {
        margin-top: 76px;
        margin-bottom: 16px;
    }

    p {
        margin-top: 0;
        margin-bottom: 16px;
    }
}