@use 'sass:map';

.container {
    max-width: 1110px;
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2a2626;
}

// HEADERS!!!!!!!!!!!!!!!!!!!!
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Neucha';
    line-height: 1.2em;
}

h1 {
    font-size: 72px;

    span {
        &.custom-text--nowrap {
            white-space: nowrap;
        }
    }
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

// ***************************
// ***************************


// SETTING PROJECT!!!!!!!!!!!
section {
    max-width: 1110px;
    padding: 100px 0;
}

$colors: (
    "white": #fff,
    "opacity-white": #d7ccc0,
    "light": #f5f4f0,
    "main": #fe8a02,
    "dark": #2a2626,
    "opacity-dark": #908d8b,
    "brown": #b09a81,
    "blue": #1085c5
);

@each $name, $color in $colors {
    .custom {

        &-text--#{$name} {
            color: $color;
        }

        &-bg--#{$name} {
            background-color: $color;
        }

    }
}

.custom-p-block {
    .col {
        width: 100% / 2;
    }

    .mr-30 {
        margin-right: 30px;
    }

    margin-top: 185px;

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 24px;
        padding: 0;

        width: 148px;
        height: 49px;

        background-color: map-get($map: $colors, $key: main);
        color: white;
        font-weight: 700;
    }
}

@mixin before {
    &::before {
        content: url(/src/images/background.png);

        display: block;
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;

        background-repeat: no-repeat;
        background-color: cover;
        opacity: 10%;
    }
}

.col {
    padding: 0;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        padding: 0;
    }
}

// ***************************
// ***************************



.header {
    position: relative;
    @include before();

    h1 {
        width: 100%;
    }

    img {
        height: 525px;
        position: absolute;
        top: 55px;
        right: -270px;
        z-index: -5;
    }
}